

pandas
sklearn.ensemble 
sklearn.model_selection i
sklearn.metrics
scikit-learn

CSV data (150 flowers data) (Setosa _ versciolor - viginca)
Features + Target (Lables) Specices
Train / Test Split
Algorithm random forest
Stream lit input
prediction
run project on local
deploy on GitHub
Deploy on live environment